<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content" th:object="${board}">
    <button class="btn btn-primary mb-3 p-2">수정</button>
    <button class="btn btn-primary mb-3 p-2">삭제</button>
    <div class="board">
        <div class="row board-header">
            <div class="col-sm-12">
                <div class="float-end text-center">
                    <button th:post-id="*{id}" post-id="9" class="btn userboard-like">

                        <i id="like-heart-9" class="far fa-heart fa-2x" aria-hidden="true"></i></button>

                    <br>
                    <span id="count-9">1개</span>
                    <span id="like-user-9"></span>
                </div>
                <div class="h3" th:text="*{title}"></div>
            </div>
            <div class="col-sm-12">
                <div class="writer-info">
                    <div class="profile-area">
                        <div class="profile-info">
                            <div class="nick-box" th:text="abc">
                                작성자
                            </div>
                            <div class="board-info" th:text="*{createdDate}">
                                생성 날짜
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row board-body">
            <div class="col-md-11">
                <p th:text="*{content}">안녕하세요.</p>
            </div>
        </div>
        <div class="row mt-3 body-footer">
        </div>
    </div>
</th:block>
</html>