<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col" id="pc">
            <div class="d-flex flex-row-reverse">
                <a href="" th:href="@{/board/add-form}" class="btn btn-primary">글쓰기</a>
            </div>
            <table class="table board-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 55%;">제목</th>
                    <th scope="col" style="width: 15%;">글쓴이</th>
                    <th scope="col" style="width: 10%;">추천</th>
                    <th scope="col" style="width: 20%;">날짜</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="board: ${boards}">
                    <td><a class="text-dark text-truncate" href="#" th:href="@{/board/{itemId}(itemId=${board.id})}" th:text="${board.title}">text</a>
                        <span th:text="${#lists.size(board.comments)}">댓글개수</span>
                    </td>
                    <td class="author" th:text="author">미소여우</td>
                    <td class="text-primary voteNum">0</td>
                    <td class="time" th:text="${board.createdDate}">2020년 7월 7일</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col p-0" id="mobile">
            <ul class="list-group">

                <li th:each="board: ${boards}" class="list-group-item p-2 board-item">
                    <div style="width:100%;">
                        <div class="text-truncate">
                            <a href="#" th:href="@{/board/{itemId}(itemId=${board.id})}" th:text="${board.title}" class="text-dark font-weight-bold" style="font-size: 13px;">list</a>
                        </div>
                        <div class="d-flex">
                            <div class="flex-fill">
                                <span class="text-primary"><i class="fa fa-thumbs-up" aria-hidden="true"></i>0</span>
                                <span th:text="${board.createdDate}">2020년 7월 7일</span>
                            </div>
                            <div class="flex-fill">
                                <div class="d-flex justify-content-end" th:text="author">
                                    미소여우
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>