<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col" id="pc">
            <div class="d-flex flex-row-reverse">
                <a href="javascript:checkLogin(this)" class="btn btn-primary add-board">글쓰기</a>
            </div>
            <table class="table board-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 55%;">제목</th>
                    <th scope="col" style="width: 15%;">글쓴이</th>
                    <th scope="col" style="width: 10%;">추천</th>
                    <th scope="col" style="width: 20%;">날짜</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="board: ${boards}">
                    <td><a class="text-dark text-truncate" href="#" th:href="@{/board/{itemId}(itemId=${board.id})}" th:text="${board.title}">text</a>
                        <span th:text="${#lists.size(board.comments)}">댓글개수</span>
                    </td>
                    <td class="author" th:text="${board.writer.username}">미소여우</td>
                    <td class="text-primary voteNum">0</td>
                    <td class="time" th:text="${board.createdDate}">2020년 7월 7일</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col p-0" id="mobile">
            <ul class="list-group">

                <li th:each="board: ${boards}" class="list-group-item p-2 board-item">
                    <div style="width:100%;">
                        <div class="text-truncate">
                            <a href="#" th:href="@{/board/{itemId}(itemId=${board.id})}" th:text="${board.title}" class="text-dark font-weight-bold" style="font-size: 13px;">list</a>
                        </div>
                        <div class="d-flex">
                            <div class="flex-fill">
                                <span class="text-primary"><i class="fa fa-thumbs-up" aria-hidden="true"></i>0</span>
                                <span th:text="${board.createdDate}">2020년 7월 7일</span>
                            </div>
                            <div class="flex-fill">
                                <div class="d-flex justify-content-end" th:text="${board.writer.username}">
                                    미소여우
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <nav style="text-align: center;">
            <ul class="pagination"
                th:with="start=${T(Math).floor(boards.number/10)*10 + 1},
                    last=(${start + 9 < boards.totalPages ? start + 9 : boards.totalPages})">
                <li>
                    <a th:href="@{${#httpServletRequest.requestURI}(page=1)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li th:class="${boards.first} ? 'disabled'">
                    <a th:href="${boards.first} ? '#' :@{${#httpServletRequest.requestURI}(page=${boards.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boards.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{${#httpServletRequest.requestURI}(page=${page})}"></a>
                </li>

                <li th:class="${boards.last} ? 'disabled'">
                    <a th:href="${boards.last} ? '#' : @{${#httpServletRequest.requestURI}(page=${boards.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{${#httpServletRequest.requestURI}(page=${boards.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>
</html>