<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
    <button class="btn btn-primary mb-3 p-2"
            th:onclick="|location.href='@{/board/{boardId}/edit(boardId=${board.id})}'|">수정
    </button>
    <button class="btn btn-primary mb-3 p-2"
            th:onclick="|location.href='@{/board/{boardId}/delete(boardId=${board.id})}'|">삭제
    </button>
    <div class="board">
        <div class="row board-header">
            <div class="col-sm-12">
                <div class="h3" th:text="${board.title}"></div>
            </div>
            <div class="col-sm-12">
                <div class="writer-info">
                    <div class="profile-area">
                        <div class="profile-info">
                            <div class="nick-box" th:text="${board.writer.username}">
                                미소여우
                            </div>
                            <div class="board-info" th:text="${board.createdDate}">
                                2020.07.07 09:27
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row board-body">
            <div class="col-md-11">
                <p th:utext="${board.content}">안녕하세요.</p>
            </div>
            <div class="col-md-11 text-center">
                <span class="vote">
                    <th:block th:each="count: ${likeCount}" th:object="${count}">
                        <button post-id="0" class="btn userboard-like" th:attr="data-status=*{likeStatus.english}">
                            <i id="like-heart-9" class="far fa-heart fa-2x" aria-hidden="true" th:style="|color: *{likeStatus.color}|"></i>
                            <span th:text="*{likeStatus.korea}"></span>
                            <span class="like-count" th:text="|*{count}|"></span>
                        </button>
                    </th:block>
                </span>
            </div>
        </div>
        <div class="row mt-3 body-footer">
            <div class="col-12">
                <form action="" th:action="@{/comment/{boardId}(boardId=${board.id})}" method="post" id="multiForm">
                    <div class="form-group">
                        <textarea name="content" cols="40" rows="3" class="form-control" style="resize:none;" required=""></textarea>
                    </div>
                    <input id="writeComment" type="submit" value="작성" class="btn btn-primary">
                </form>
            </div>
            <div class="col-12">
                <div class="comment-wrapper">
                    <div class="comment-list">
                        <div class="comment-area" id="" th:each="comment : ${board.comments}" th:id="${comment.id}">
                            <div class="comment-box">
                                <div class="comment-nick-box"><a class="comment-nickname" th:text="${comment.writer.username}" href="#">작성자</a></div>
                                <div class="comment-text-box">
                                    <p class="comment-text-view">
                                        <span class="text-comment" th:text="${comment.content}">댓글</span>
                                    </p>
                                </div>
                                <div class="comment-info-box" th:text="${comment.createdDate}">날짜</div>
                                <div class="comment_tool">
                                    <a href="javascript:void(0)" class="update-comment">수정</a>
                                    <a href="javascript:void(0)" class="delete-comment" onclick="deleteComment(this)">삭제</a>
                                </div>
                            </div>
                            <div class="comment-box comment-child" th:each="childComment: ${comment.child}">
                                <div class="comment-nick-box"><a class="comment-nickname" th:text="${childComment.writer.username}" href="#">작성자</a></div>
                                <div class="comment-text-box">
                                    <p class="comment-text-view">
                                        <span class="text-comment" th:text="${childComment.content}">댓글</span>
                                    </p>
                                </div>
                                <div class="comment-info-box" th:text="${childComment.createdDate}">날짜</div>
                                <div class="comment_tool">
                                    <a href="javascript:void(0)" class="update-comment">수정</a>
                                    <a href="javascript:void(0)" class="delete-comment" onclick="deleteComment(this)">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>