<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">>

<th:block layout:fragment="content">

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>

    <hr class="my-4">
    <ul class="list-group">
        <li th:each="board: ${boards}" class="list-group-item">
            <div>
                <a href="" th:href="@{/board/{itemId}(itemId=${board.id})}" th:text="${board.title}"></a>
            </div>
            <div>
                <a href="" th:href="@{/board/{itemId}(itemId=${board.id})}" th:text="${board.content}"></a>
            </div>
        </li>
    </ul>
</th:block>
</html>