<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="scriptFragment">
    <script src="https://kit.fontawesome.com/c998a172fe.js"></script>
    <script>
        $(document).ready(function () {

            $('#content').summernote({
                placeholder: 'Write contents',
                height: 400,
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
            });
        })
    </script>
</th:block>
</html>