<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footerFragment">
    <div class="inner">
        <div class="dg_logo">
            <a href="/" class="btn-dg" th:href="@{/}"></a>
            <p class="subtitle"></p>
        </div>
        <div class="language-copyrights">
            <small>
                <p>
                    Spring Boot Board Project<br>제작자: Hong Seok Ju(홍석주)<br>
                    <span class="copyrights">© 2022 by 홍석주</span>
                </p>
            </small>
        </div>
    </div>
</footer>
</html>